In [1]:
# Import libraries
%matplotlib inline
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
ratings = pd.read_csv('../data/ml-100k/ratings.csv')

ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
ratings['userEmbId'] = ratings['userId'] - 1
ratings['movieEmbId'] = ratings['movieId'] - 1
# Set max_userid to the maximum user_id in the ratings
max_userid = ratings['userId'].drop_duplicates().max()
# Set max_movieid to the maximum movie_id in the ratings
max_movieid = ratings['movieId'].drop_duplicates().max()

ratings.head()

   userId  movieId  rating  timestamp  userEmbId  movieEmbId
0       1        1     4.0  964982703          0           0
1       1        3     4.0  964981247          0           2
2       1        6     4.0  964982224          0           5
3       1       47     5.0  964983815          0          46
4       1       50     5.0  964982931          0          49

In [44]:
movies = pd.read_csv('../data/ml-100k/movies.csv')

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [55]:
links = pd.read_csv('../data/ml-100k/links.csv')

links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
shuffled_ratings = ratings.sample(frac=1., random_state=42)

# Shuffling users
Users = shuffled_ratings['userEmbId'].values
print('Users:', Users, ', shape =', Users.shape)

# Shuffling movies
Movies = shuffled_ratings['movieEmbId'].values
print('Movies:', Movies, ', shape =', Movies.shape)

# Shuffling ratings
Ratings = shuffled_ratings['rating'].values
print('Ratings:', Ratings, ', shape =', Ratings.shape)

Users: [431 287 598 ... 479   5 102] , shape = (100836,)
Movies: [77865   473  4350 ...  6866   980  6710] , shape = (100836,)
Ratings: [4.5 3.  3.  ... 4.  3.  5. ] , shape = (100836,)

In [5]:
import keras
from keras.layers import Input, Embedding, dot, Dense, Reshape
from keras.models import Model, Sequential

Using TensorFlow backend.

In [6]:
user_input = Input(shape=(1,), name='user_input')
x = Embedding(input_dim=max_userid, output_dim=100, input_length=1)(user_input)
user_output = Reshape((100,))(x)

In [7]:
movie_input = Input(shape=(1,), name='movie_input')
y = Embedding(input_dim=max_movieid, output_dim=100, input_length=1)(movie_input)
movie_output = Reshape((100,))(y)

In [8]:
z = dot([Dense(10)(user_output), Dense(10)(movie_output)], axes=1)

In [9]:
model = Model(inputs=[user_input, movie_input], outputs=z)

In [10]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
user_input (InputLayer)         (None, 1)            0
__________________________________________________________________________________________________
movie_input (InputLayer)        (None, 1)            0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 100)       61000       user_input[0][0]
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 100)       19360900    movie_input[0][0]
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 100)          0           embedding_1[0][0]
__________________________________________________________________________________________________
reshape_2 (Reshape)             (None, 100)          0           embedding_2[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 10)           1010        reshape_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 10)           1010        reshape_2[0][0]
__________________________________________________________________________________________________
dot_1 (Dot)                     (None, 1)            0           dense_1[0][0]
                                                                 dense_2[0][0]
==================================================================================================
Total params: 19,423,920
Trainable params: 19,423,920
Non-trainable params: 0
__________________________________________________________________________________________________

In [11]:
model.compile(loss='mse', optimizer='adamax')

In [12]:
from keras.callbacks import Callback, EarlyStopping, ModelCheckpoint

In [13]:
callbacks = [EarlyStopping('val_loss', patience=2),
            ModelCheckpoint('movie_recommender_100k_trained.h5', save_best_only=True)]

history=model.fit([Users, Movies], Ratings, epochs=30, validation_split=.1, verbose=2, callbacks=callbacks)

Train on 90752 samples, validate on 10084 samples
Epoch 1/30
 - 622s - loss: 1.6154 - val_loss: 0.8154
Epoch 2/30
 - 562s - loss: 0.7493 - val_loss: 0.7970
Epoch 3/30
 - 507s - loss: 0.7186 - val_loss: 0.7793
Epoch 4/30
 - 584s - loss: 0.6863 - val_loss: 0.7623
Epoch 5/30
 - 557s - loss: 0.6623 - val_loss: 0.7518
Epoch 6/30
 - 503s - loss: 0.6462 - val_loss: 0.7483
Epoch 7/30
 - 504s - loss: 0.6301 - val_loss: 0.7612
Epoch 8/30
 - 488s - loss: 0.6167 - val_loss: 0.7567

In [14]:
# Show the best validation RMSE
min_val_loss, idx = min((val, idx) for (idx, val) in enumerate(history.history['val_loss']))
print('Minimum RMSE at epoch', '{:d}'.format(idx+1), '=', '{:.4f}'.format(math.sqrt(min_val_loss)))

Minimum RMSE at epoch 6 = 0.8650

In [15]:
from keras.models import load_model

In [16]:
trained_model = load_model("movie_recommender_100k_trained.h5")

In [39]:
def predict_rating(user_id, movie_id):
    return trained_model.predict([np.array([user_id - 1]), np.array([movie_id - 1])])[0][0]

In [40]:
userId = 150

In [41]:
user_ratings = ratings[ratings['userId'] == userId][['userId', 'movieId', 'rating']]
# user_ratings['prediction'] = user_ratings.apply(lambda x: predict_rating(userId, x['movieId']), axis=1)
user_ratings.sort_values(by='rating', 
                         ascending=False).merge(movies,
                                                on='movieId',
                                                how='inner',
                                                suffixes=['_u', '_m'])

In [42]:
user_ratings['prediction'] = user_ratings.apply(lambda x: predict_rating(userId, x['movieId']), axis=1)

In [46]:
user_ratings.sort_values(by='rating', 
                         ascending=False).merge(movies,
                                                on='movieId',
                                                how='inner',
                                                suffixes=['_u', '_m'])

,userId,movieId,rating,prediction,title,genres
0,150,1356,5.0,3.828905,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller
1,150,32,5.0,4.002310,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
2,150,141,5.0,3.424587,"Birdcage, The (1996)",Comedy
3,150,648,4.0,3.500291,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller
4,150,6,4.0,3.946426,Heat (1995),Action|Crime|Thriller
5,150,25,4.0,3.689686,Leaving Las Vegas (1995),Drama|Romance
6,150,36,4.0,3.747801,Dead Man Walking (1995),Crime|Drama
7,150,52,4.0,3.601269,Mighty Aphrodite (1995),Comedy|Drama|Romance
8,150,805,4.0,3.667263,"Time to Kill, A (1996)",Drama|Thriller
9,150,780,4.0,3.604608,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller
10,150,733,4.0,3.722970,"Rock, The (1996)",Action|Adventure|Thriller
11,150,608,4.0,4.041343,Fargo (1996),Comedy|Crime|Drama|Thriller
12,150,1073,3.0,3.887905,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical
13,150,786,3.0,3.315373,Eraser (1996),Action|Drama|Thriller
14,150,784,3.0,2.965297,"Cable Guy, The (1996)",Comedy|Thriller
15,150,653,3.0,3.256289,Dragonheart (1996),Action|Adventure|Fantasy
16,150,3,3.0,3.383258,Grumpier Old Men (1995),Comedy|Romance
17,150,628,3.0,3.650441,Primal Fear (1996),Crime|Drama|Mystery|Thriller
18,150,494,3.0,3.510743,Executive Decision (1996),Action|Adventure|Thriller
19,150,5,3.0,3.014403,Father of the Bride Part II (1995),Comedy
20,150,95,3.0,3.234993,Broken Arrow (1996),Action|Adventure|Thriller
21,150,79,3.0,2.786718,"Juror, The (1996)",Drama|Thriller
22,150,62,3.0,3.710872,Mr. Holland's Opus (1995),Drama
23,150,58,3.0,3.934852,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance
24,150,7,3.0,3.241464,Sabrina (1995),Comedy|Romance
25,150,376,3.0,3.467869,"River Wild, The (1994)",Action|Thriller

In [63]:
recommendations = ratings[ratings['movieId'].isin(user_ratings['movieId']) == False][['movieId']].drop_duplicates()

In [64]:
recommendations['prediction'] = recommendations.apply(lambda x: predict_rating(userId, x['movieId']), axis=1)

In [65]:
recommendations = recommendations.sort_values(by='prediction',
                                             ascending=False).merge(movies,
                                                                   on='movieId',
                                                                   how='inner',
                                                                   suffixes=['_u','_m'])
recommendations = pd.merge(recommendations, links, on='movieId')

In [67]:
recommendations['imdbId'] = 'tt0' + recommendations['imdbId'].astype(str)

In [68]:
recommendations

,movieId,prediction,title,genres,imdbId,tmdbId
0,3451,4.474097,Guess Who's Coming to Dinner (1967),Drama,tt061735,1879.0
1,5747,4.441415,Gallipoli (1981),Drama|War,tt082432,11646.0
2,6460,4.370301,"Trial, The (Proc√®s, Le) (1962)",Drama,tt057427,3009.0
3,177593,4.365219,"Three Billboards Outside Ebbing, Missouri (2017)",Crime|Drama,tt05027774,359940.0
4,904,4.361011,Rear Window (1954),Mystery|Thriller,tt047396,567.0
5,2360,4.356462,"Celebration, The (Festen) (1998)",Drama,tt0154420,309.0
6,2959,4.355269,Fight Club (1999),Action|Crime|Drama|Thriller,tt0137523,550.0
7,8132,4.345494,Gladiator (1992),Action|Drama,tt0104346,16219.0
8,170705,4.310242,Band of Brothers (2001),Action|Drama|War,tt0185906,331214.0
9,1178,4.301063,Paths of Glory (1957),Drama|War,tt050825,975.0
10,898,4.290913,"Philadelphia Story, The (1940)",Comedy|Drama|Romance,tt032904,981.0
11,158966,4.285658,Captain Fantastic (2016),Drama,tt03553976,334533.0
12,7371,4.279679,Dogville (2003),Drama|Mystery|Thriller,tt0276919,553.0
13,55721,4.279335,Elite Squad (Tropa de Elite) (2007),Action|Crime|Drama|Thriller,tt0861739,7347.0
14,3030,4.278913,Yojimbo (1961),Action|Adventure,tt055630,11878.0
15,2202,4.278505,Lifeboat (1944),Drama|War,tt037017,13321.0
16,905,4.271888,It Happened One Night (1934),Comedy|Romance,tt025316,3078.0
17,43376,4.266244,Sophie Scholl: The Final Days (Sophie Scholl -...,Drama|War,tt0426578,2117.0
18,80906,4.265128,Inside Job (2010),Documentary,tt01645089,44639.0
19,2732,4.263355,Jules and Jim (Jules et Jim) (1961),Drama|Romance,tt055032,1628.0
20,720,4.262122,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy,tt0118114,503475.0
21,159817,4.261535,Planet Earth (2006),Documentary,tt0795176,192040.0
22,318,4.255806,"Shawshank Redemption, The (1994)",Crime|Drama,tt0111161,278.0
23,1446,4.251882,Kolya (Kolja) (1996),Comedy|Drama,tt0116790,784.0
24,6016,4.251332,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,tt0317248,598.0
25,527,4.246668,Schindler's List (1993),Drama|War,tt0108052,424.0
26,750,4.244222,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy|War,tt057012,935.0
27,951,4.243745,His Girl Friday (1940),Comedy|Romance,tt032599,3085.0
28,3435,4.242738,Double Indemnity (1944),Crime|Drama|Film-Noir,tt036775,996.0
29,1209,4.236748,Once Upon a Time in the West (C'era una volta ...,Action|Drama|Western,tt064116,335.0
...,...,...,...,...,...,...
9668,546,2.504490,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi,tt0108255,9607.0
9669,1326,2.499685,Amityville II: The Possession (1982),Horror,tt083550,16235.0
9670,3774,2.494047,House Party 2 (1991),Comedy|Drama|Romance,tt0102065,16096.0
9671,1707,2.491861,Home Alone 3 (1997),Children|Comedy,tt0119303,9714.0
9672,2798,2.475658,Problem Child (1990),Children|Comedy,tt0100419,11077.0
9673,8387,2.470540,Police Academy: Mission to Moscow (1994),Comedy|Crime,tt0110857,11546.0
9674,3564,2.470125,"Flintstones in Viva Rock Vegas, The (2000)",Children|Comedy,tt0158622,889.0
9675,39715,2.469073,American Pie Presents: Band Camp (American Pie...,Comedy,tt0436058,8274.0
9676,2799,2.459275,Problem Child 2 (1991),Comedy,tt0102719,28597.0
9677,1996,2.452702,Poltergeist III (1988),Horror|Thriller,tt095889,10306.0
9678,43904,2.446907,When a Stranger Calls (2006),Horror|Thriller,tt0455857,10053.0
9679,92938,2.438611,Ghost Rider: Spirit of Vengeance (2012),Action|Fantasy|Thriller,tt01071875,71676.0
9680,255,2.435078,"Jerky Boys, The (1995)",Comedy,tt0110189,18713.0
9681,312,2.422404,Stuart Saves His Family (1995),Comedy,tt0114571,28033.0
9682,393,2.405080,Street Fighter (1994),Action|Adventure|Fantasy,tt0111301,11667.0
9683,810,2.384629,Kazaam (1996),Children|Comedy|Fantasy,tt0116756,11511.0
9684,126,2.384400,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,tt0110647,27793.0
9685,2338,2.370339,I Still Know What You Did Last Summer (1998),Horror|Mystery|Thriller,tt0130018,3600.0
9686,3997,2.364839,Dungeons & Dragons (2000),Action|Adventure|Comedy|Fantasy,tt0190374,11849.0
9687,3593,2.353185,Battlefield Earth (2000),Action|Sci-Fi,tt0185183,5491.0
9688,3973,2.352675,Book of Shadows: Blair Witch 2 (2000),Crime|Horror|Mystery|Thriller,tt0229260,11531.0
9689,61348,2.352504,Disaster Movie (2008),Comedy,tt01213644,13805.0
9690,47810,2.327819,"Wicker Man, The (2006)",Horror|Mystery|Thriller,tt0450345,9708.0
9691,1998,2.315544,Exorcist II: The Heretic (1977),Horror,tt076009,11586.0
9692,6872,2.313188,"House of the Dead, The (2003)",Action|Horror,tt0317676,11059.0
9693,4124,2.293591,Jaws: The Revenge (1987),Horror|Thriller,tt093300,580.0
9694,1556,2.229425,Speed 2: Cruise Control (1997),Action|Romance|Thriller,tt0120179,1639.0
9695,8666,2.173324,Catwoman (2004),Action|Crime|Fantasy,tt0327554,314.0
9696,5323,2.154827,Jason X (2002),Horror|Sci-Fi|Thriller,tt0211443,11470.0
9697,1760,2.021800,Spice World (1997),Comedy,tt0120185,6116.0

In [69]:
top5 = recommendations[0:5]

In [75]:
movie_list=[]
for i, row in top5.iterrows():
    movie_data = {
        'movie_id': row[0],
        'movie_title': row[2]
    }
    movie_list.append(movie_data)

movie_list

[{'movie_id': 3451, 'movie_title': "Guess Who's Coming to Dinner (1967)"},
 {'movie_id': 5747, 'movie_title': 'Gallipoli (1981)'},
 {'movie_id': 6460, 'movie_title': 'Trial, The (Proc√®s, Le) (1962)'},
 {'movie_id': 177593,
  'movie_title': 'Three Billboards Outside Ebbing, Missouri (2017)'},
 {'movie_id': 904, 'movie_title': 'Rear Window (1954)'}]

In [84]:
for movie in movie_list:
    title = movie['movie_title'][:-7]
    if ', The' in title:
        split_title = title.split(', ')
        title = split_title[1] + ' ' + split_title[0]
    year = movie['movie_title'][-6:]
    year = year.replace('(', '').replace(')', '')

1967
1981
1962
2017
1954